body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url("https://1.bp.blogspot.com/-kLHuAiXvfHM/XVEWJToeMBI/AAAAAAAAn4g/gvu7v-Ttp4sCZgVTWi-oCF3CtG-bCL4XQCLcBGAs/s1600/67805298_465414867369062_1122605825840381952_n.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    max-width: 1600px;
    margin: 0 auto;
}

.konvajs-content {
    background-color: rgba(0, 0, 0, 0.1);
    border: 5px solid red;
    margin: 0 auto;
}

.btn {
    float: right;
    cursor: pointer;
    background-color: #fc766a;
    font-size: 1.5em;
    height: 50px;
    width: 125px;
    border-radius: 25px;
    margin: 10px;
    z-index: 1000;
}
